{name, "annotations"}.
{authors, ["Tim Watson <watson.timothy@gmail.com>"]}.
{description, "MetaData and Code Instrumentation for Erlang/OTP"}.
{homepage, "https://github.com/hyperthunk/annotations"}.
{rebar_compatible, true}.
{license, "BSD"}.
{url, {git, "https://github.com/hyperthunk/annotations.git", "master"}}.
% Ref is either "[sha1]", or {tag, "[tag name]"} or {branch, "[BranchName]"}
%% url also accepts {hg, "[Package Hg URL]", "[Package Hg Rev]"} 
%%                  {svn, "[Package SVN URL]", "[Package SVN Rev]"}
{applications, [annotations]}.
